body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}


header {
    background: #2c3e50;
    color: #ecf0f1;
    padding: 15px 0;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 20px;
}


footer {
    background: #2c3e50;
    color: #ecf0f1;
    text-align: center;
    padding: 15px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}
